services:
  mongo:
    image: mongo:6.0
    volumes:
      - mongo-data:/data/db
    logging:
      driver: none
    ports:
      - 27017:27017
  mongo-express:
    image: mongo-express
    ports:
      - 8081:8081
    environment:
      ME_CONFIG_BASICAUTH_USERNAME: 'admin'
      ME_CONFIG_BASICAUTH_PASSWORD: 'pass'
      ME_CONFIG_MONGODB_SERVER: mongo
    logging:
      driver: none
  app:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - APP_HOST_URL=http://localhost:3000
    ports:
      - 3000:3000
    depends_on:
      - mongo
    volumes:
      - ./uploads-docker:/data/uploads
    env_file:
      - .env.docker

volumes:
  mongo-data:
