NEXT_PUBLIC_APP_HOST_URL=https://foti-box.com

JWT_SECRET=your_jwt_secret_here
MONGO_URI=mongodb://localhost:27017/photobooth

INIT_ADMIN_USERNAME=admin
INIT_ADMIN_PW=admin123

UPLOAD_FOLDER=./uploads
